UI/Connected Services/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Service.DTO" />
  <xs:element name="AddLandLot">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Service.DTO" minOccurs="0" name="landLotDTO" nillable="true" type="q1:LandLotDTO" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Service.DTO" minOccurs="0" name="exploitationTypeDTO" nillable="true" type="q2:ExploitationTypeDTO" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Service.DTO" minOccurs="0" name="locationDTO" nillable="true" type="q3:LocationDTO" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Service.DTO" minOccurs="0" name="monetaryValuationDTO" nillable="true" type="q4:MonetaryValuationDTO" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Service.DTO" minOccurs="0" name="stateRegistrationInfoDTO" nillable="true" type="q5:StateRegistrationInfoDTO" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Service.DTO" minOccurs="0" name="physicalIndividualDTOs" nillable="true" type="q6:ArrayOfPhysicalIndividualDTO" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Service.DTO" minOccurs="0" name="juridicalIndividualDTO" nillable="true" type="q7:JuridicalIndividualDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLandLotResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditLandLot">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Service.DTO" minOccurs="0" name="landLotDTO" nillable="true" type="q8:LandLotDTO" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Service.DTO" minOccurs="0" name="exploitationTypeDTO" nillable="true" type="q9:ExploitationTypeDTO" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Service.DTO" minOccurs="0" name="locationDTO" nillable="true" type="q10:LocationDTO" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Service.DTO" minOccurs="0" name="monetaryValuationDTO" nillable="true" type="q11:MonetaryValuationDTO" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Service.DTO" minOccurs="0" name="stateRegistrationInfoDTO" nillable="true" type="q12:StateRegistrationInfoDTO" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Service.DTO" minOccurs="0" name="physicalIndividualDTOs" nillable="true" type="q13:ArrayOfPhysicalIndividualDTO" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Service.DTO" minOccurs="0" name="juridicalIndividualDTO" nillable="true" type="q14:JuridicalIndividualDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditLandLotResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLandLotsbyOwner">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="owner" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLandLotsbyOwnerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Service.DTO" minOccurs="0" name="GetLandLotsbyOwnerResult" nillable="true" type="q15:ArrayOfLandLotDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLandLotsbyOwnershipType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="purpose" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLandLotsbyOwnershipTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Service.DTO" minOccurs="0" name="GetLandLotsbyOwnershipTypeResult" nillable="true" type="q16:ArrayOfLandLotDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLandLotsbyPurpose">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="purpose" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLandLotsbyPurposeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Service.DTO" minOccurs="0" name="GetLandLotsbyPurposeResult" nillable="true" type="q17:ArrayOfLandLotDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLandLotsbySoil">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="soil" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLandLotsbySoilResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Service.DTO" minOccurs="0" name="GetLandLotsbySoilResult" nillable="true" type="q18:ArrayOfLandLotDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLandLotsbyCadastralNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cadastralNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLandLotsbyCadastralNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Service.DTO" minOccurs="0" name="GetLandLotsbyCadastralNumberResult" nillable="true" type="q19:ArrayOfLandLotDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPurposeById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPurposeByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Service.DTO" minOccurs="0" name="GetPurposeByIdResult" nillable="true" type="q20:PurposeDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExploitationTypeById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExploitationTypeByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Service.DTO" minOccurs="0" name="GetExploitationTypeByIdResult" nillable="true" type="q21:ExploitationTypeDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSoilById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSoilByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Service.DTO" minOccurs="0" name="GetSoilByIdResult" nillable="true" type="q22:SoilDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMonetaryValuationById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMonetaryValuationByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Service.DTO" minOccurs="0" name="GetMonetaryValuationByIdResult" nillable="true" type="q23:MonetaryValuationDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStateRegistrationInfoById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStateRegistrationInfoByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Service.DTO" minOccurs="0" name="GetStateRegistrationInfoByIdResult" nillable="true" type="q24:StateRegistrationInfoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOwnerByIdJ">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="landlotid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOwnerByIdJResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Service.DTO" minOccurs="0" name="GetOwnerByIdJResult" nillable="true" type="q25:JuridicalIndividualDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOwnerByIdP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="landlotid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOwnerByIdPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Service.DTO" minOccurs="0" name="GetOwnerByIdPResult" nillable="true" type="q26:ArrayOfPhysicalIndividualDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocationById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocationByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Service.DTO" minOccurs="0" name="GetLocationByIdResult" nillable="true" type="q27:LocationDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLandCategoryById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLandCategoryByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Service.DTO" minOccurs="0" name="GetLandCategoryByIdResult" nillable="true" type="q28:LandCategoryDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLandLotsbyLandCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLandLotsbyLandCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Service.DTO" minOccurs="0" name="GetLandLotsbyLandCategoryResult" nillable="true" type="q29:ArrayOfLandLotDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLandCategories">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLandCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Service.DTO" minOccurs="0" name="GetLandCategoriesResult" nillable="true" type="q30:ArrayOfLandCategoryDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSoils">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSoilsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Service.DTO" minOccurs="0" name="GetSoilsResult" nillable="true" type="q31:ArrayOfSoilDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOwnershipTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOwnershipTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Service.DTO" minOccurs="0" name="GetOwnershipTypesResult" nillable="true" type="q32:ArrayOfOwnershipTypeDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOwnershipTypebyLandLotId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOwnershipTypebyLandLotIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Service.DTO" minOccurs="0" name="GetOwnershipTypebyLandLotIdResult" nillable="true" type="q33:OwnershipTypeDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPurposes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPurposesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Service.DTO" minOccurs="0" name="GetPurposesResult" nillable="true" type="q34:ArrayOfPurposeDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>