UI/Connected Services/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LandService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Service.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILandService_AddLandLot_InputMessage">
    <wsdl:part name="parameters" element="tns:AddLandLot" />
  </wsdl:message>
  <wsdl:message name="ILandService_AddLandLot_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddLandLotResponse" />
  </wsdl:message>
  <wsdl:message name="ILandService_EditLandLot_InputMessage">
    <wsdl:part name="parameters" element="tns:EditLandLot" />
  </wsdl:message>
  <wsdl:message name="ILandService_EditLandLot_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditLandLotResponse" />
  </wsdl:message>
  <wsdl:message name="ILandService_GetPurposeById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPurposeById" />
  </wsdl:message>
  <wsdl:message name="ILandService_GetPurposeById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPurposeByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ILandService_GetExploitationTypeById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetExploitationTypeById" />
  </wsdl:message>
  <wsdl:message name="ILandService_GetExploitationTypeById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetExploitationTypeByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ILandService_GetSoilById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSoilById" />
  </wsdl:message>
  <wsdl:message name="ILandService_GetSoilById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSoilByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ILandService_GetMonetaryValuationById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMonetaryValuationById" />
  </wsdl:message>
  <wsdl:message name="ILandService_GetMonetaryValuationById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMonetaryValuationByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ILandService_GetStateRegistrationInfoById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStateRegistrationInfoById" />
  </wsdl:message>
  <wsdl:message name="ILandService_GetStateRegistrationInfoById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStateRegistrationInfoByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ILandService_GetOwnerByIdJ_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOwnerByIdJ" />
  </wsdl:message>
  <wsdl:message name="ILandService_GetOwnerByIdJ_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOwnerByIdJResponse" />
  </wsdl:message>
  <wsdl:message name="ILandService_GetOwnerByIdP_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOwnerByIdP" />
  </wsdl:message>
  <wsdl:message name="ILandService_GetOwnerByIdP_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOwnerByIdPResponse" />
  </wsdl:message>
  <wsdl:message name="ILandService_GetLocationById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLocationById" />
  </wsdl:message>
  <wsdl:message name="ILandService_GetLocationById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLocationByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ILandService_GetLandCategoryById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLandCategoryById" />
  </wsdl:message>
  <wsdl:message name="ILandService_GetLandCategoryById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLandCategoryByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ILandService_GetLandLotsbyLandCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLandLotsbyLandCategory" />
  </wsdl:message>
  <wsdl:message name="ILandService_GetLandLotsbyLandCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLandLotsbyLandCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="ILandService_GetLandCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLandCategories" />
  </wsdl:message>
  <wsdl:message name="ILandService_GetLandCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLandCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="ILandService_GetSoils_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSoils" />
  </wsdl:message>
  <wsdl:message name="ILandService_GetSoils_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSoilsResponse" />
  </wsdl:message>
  <wsdl:message name="ILandService_GetOwnershipTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOwnershipTypes" />
  </wsdl:message>
  <wsdl:message name="ILandService_GetOwnershipTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOwnershipTypesResponse" />
  </wsdl:message>
  <wsdl:message name="ILandService_GetOwnershipTypebyLandLotId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOwnershipTypebyLandLotId" />
  </wsdl:message>
  <wsdl:message name="ILandService_GetOwnershipTypebyLandLotId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOwnershipTypebyLandLotIdResponse" />
  </wsdl:message>
  <wsdl:message name="ILandService_GetPurposes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPurposes" />
  </wsdl:message>
  <wsdl:message name="ILandService_GetPurposes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPurposesResponse" />
  </wsdl:message>
  <wsdl:portType name="ILandService">
    <wsdl:operation name="AddLandLot">
      <wsdl:input wsaw:Action="http://tempuri.org/ILandService/AddLandLot" message="tns:ILandService_AddLandLot_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILandService/AddLandLotResponse" message="tns:ILandService_AddLandLot_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditLandLot">
      <wsdl:input wsaw:Action="http://tempuri.org/ILandService/EditLandLot" message="tns:ILandService_EditLandLot_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILandService/EditLandLotResponse" message="tns:ILandService_EditLandLot_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPurposeById">
      <wsdl:input wsaw:Action="http://tempuri.org/ILandService/GetPurposeById" message="tns:ILandService_GetPurposeById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILandService/GetPurposeByIdResponse" message="tns:ILandService_GetPurposeById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetExploitationTypeById">
      <wsdl:input wsaw:Action="http://tempuri.org/ILandService/GetExploitationTypeById" message="tns:ILandService_GetExploitationTypeById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILandService/GetExploitationTypeByIdResponse" message="tns:ILandService_GetExploitationTypeById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSoilById">
      <wsdl:input wsaw:Action="http://tempuri.org/ILandService/GetSoilById" message="tns:ILandService_GetSoilById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILandService/GetSoilByIdResponse" message="tns:ILandService_GetSoilById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMonetaryValuationById">
      <wsdl:input wsaw:Action="http://tempuri.org/ILandService/GetMonetaryValuationById" message="tns:ILandService_GetMonetaryValuationById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILandService/GetMonetaryValuationByIdResponse" message="tns:ILandService_GetMonetaryValuationById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStateRegistrationInfoById">
      <wsdl:input wsaw:Action="http://tempuri.org/ILandService/GetStateRegistrationInfoById" message="tns:ILandService_GetStateRegistrationInfoById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILandService/GetStateRegistrationInfoByIdResponse" message="tns:ILandService_GetStateRegistrationInfoById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOwnerByIdJ">
      <wsdl:input wsaw:Action="http://tempuri.org/ILandService/GetOwnerByIdJ" message="tns:ILandService_GetOwnerByIdJ_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILandService/GetOwnerByIdJResponse" message="tns:ILandService_GetOwnerByIdJ_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOwnerByIdP">
      <wsdl:input wsaw:Action="http://tempuri.org/ILandService/GetOwnerByIdP" message="tns:ILandService_GetOwnerByIdP_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILandService/GetOwnerByIdPResponse" message="tns:ILandService_GetOwnerByIdP_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLocationById">
      <wsdl:input wsaw:Action="http://tempuri.org/ILandService/GetLocationById" message="tns:ILandService_GetLocationById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILandService/GetLocationByIdResponse" message="tns:ILandService_GetLocationById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLandCategoryById">
      <wsdl:input wsaw:Action="http://tempuri.org/ILandService/GetLandCategoryById" message="tns:ILandService_GetLandCategoryById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILandService/GetLandCategoryByIdResponse" message="tns:ILandService_GetLandCategoryById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLandLotsbyLandCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/ILandService/GetLandLotsbyLandCategory" message="tns:ILandService_GetLandLotsbyLandCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILandService/GetLandLotsbyLandCategoryResponse" message="tns:ILandService_GetLandLotsbyLandCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLandCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/ILandService/GetLandCategories" message="tns:ILandService_GetLandCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILandService/GetLandCategoriesResponse" message="tns:ILandService_GetLandCategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSoils">
      <wsdl:input wsaw:Action="http://tempuri.org/ILandService/GetSoils" message="tns:ILandService_GetSoils_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILandService/GetSoilsResponse" message="tns:ILandService_GetSoils_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOwnershipTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/ILandService/GetOwnershipTypes" message="tns:ILandService_GetOwnershipTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILandService/GetOwnershipTypesResponse" message="tns:ILandService_GetOwnershipTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOwnershipTypebyLandLotId">
      <wsdl:input wsaw:Action="http://tempuri.org/ILandService/GetOwnershipTypebyLandLotId" message="tns:ILandService_GetOwnershipTypebyLandLotId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILandService/GetOwnershipTypebyLandLotIdResponse" message="tns:ILandService_GetOwnershipTypebyLandLotId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPurposes">
      <wsdl:input wsaw:Action="http://tempuri.org/ILandService/GetPurposes" message="tns:ILandService_GetPurposes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILandService/GetPurposesResponse" message="tns:ILandService_GetPurposes_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="basicHttp_ILandService" type="tns:ILandService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddLandLot">
      <soap:operation soapAction="http://tempuri.org/ILandService/AddLandLot" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditLandLot">
      <soap:operation soapAction="http://tempuri.org/ILandService/EditLandLot" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPurposeById">
      <soap:operation soapAction="http://tempuri.org/ILandService/GetPurposeById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExploitationTypeById">
      <soap:operation soapAction="http://tempuri.org/ILandService/GetExploitationTypeById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSoilById">
      <soap:operation soapAction="http://tempuri.org/ILandService/GetSoilById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMonetaryValuationById">
      <soap:operation soapAction="http://tempuri.org/ILandService/GetMonetaryValuationById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStateRegistrationInfoById">
      <soap:operation soapAction="http://tempuri.org/ILandService/GetStateRegistrationInfoById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOwnerByIdJ">
      <soap:operation soapAction="http://tempuri.org/ILandService/GetOwnerByIdJ" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOwnerByIdP">
      <soap:operation soapAction="http://tempuri.org/ILandService/GetOwnerByIdP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLocationById">
      <soap:operation soapAction="http://tempuri.org/ILandService/GetLocationById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLandCategoryById">
      <soap:operation soapAction="http://tempuri.org/ILandService/GetLandCategoryById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLandLotsbyLandCategory">
      <soap:operation soapAction="http://tempuri.org/ILandService/GetLandLotsbyLandCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLandCategories">
      <soap:operation soapAction="http://tempuri.org/ILandService/GetLandCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSoils">
      <soap:operation soapAction="http://tempuri.org/ILandService/GetSoils" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOwnershipTypes">
      <soap:operation soapAction="http://tempuri.org/ILandService/GetOwnershipTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOwnershipTypebyLandLotId">
      <soap:operation soapAction="http://tempuri.org/ILandService/GetOwnershipTypebyLandLotId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPurposes">
      <soap:operation soapAction="http://tempuri.org/ILandService/GetPurposes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LandService">
    <wsdl:port name="basicHttp_ILandService" binding="tns:basicHttp_ILandService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Service/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>