UI/Connected Services/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Service.DTO" />
  <xs:element name="AddLandLot">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Service.DTO" minOccurs="0" name="landLotDTO" nillable="true" type="q1:LandLotDTO" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Service.DTO" minOccurs="0" name="exploitationTypeDTO" nillable="true" type="q2:ExploitationTypeDTO" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Service.DTO" minOccurs="0" name="locationDTO" nillable="true" type="q3:LocationDTO" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Service.DTO" minOccurs="0" name="monetaryValuationDTO" nillable="true" type="q4:MonetaryValuationDTO" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Service.DTO" minOccurs="0" name="stateRegistrationInfoDTO" nillable="true" type="q5:StateRegistrationInfoDTO" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Service.DTO" minOccurs="0" name="physicalIndividualDTOs" nillable="true" type="q6:ArrayOfPhysicalIndividualDTO" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Service.DTO" minOccurs="0" name="juridicalIndividualDTO" nillable="true" type="q7:JuridicalIndividualDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLandLotResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLandCategories">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLandCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Service.DTO" minOccurs="0" name="GetLandCategoriesResult" nillable="true" type="q8:ArrayOfLandCategoryDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSoils">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSoilsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Service.DTO" minOccurs="0" name="GetSoilsResult" nillable="true" type="q9:ArrayOfSoilDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOwnershipTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOwnershipTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Service.DTO" minOccurs="0" name="GetOwnershipTypesResult" nillable="true" type="q10:ArrayOfOwnershipTypeDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPurposes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPurposesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Service.DTO" minOccurs="0" name="GetPurposesResult" nillable="true" type="q11:ArrayOfPurposeDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>